@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth anchor scroll fallback */
html:focus-within {
  scroll-behavior: smooth;
}

/* Lenis base styles (recommended) */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Custom global styles */
:root {
  --background: #111;
}
body { background: var(--background); }
